<div class="is-flex">
  <span class="icon is-large mt-1">
    <i class="bx bxs-user-circle is-size-1"></i>
  </span>
  <div class="container is-fluid px-3">
    <h1 class="mt-1"><span class="has-text-weight-bold">Luis Miguel</span> - 7 minutes ago <span class="button is-small is-danger p-1 px-2 ml-1">Delete</span></h1>
    <p class="mt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eos totam officia, inventore repellat possimus vel quidem in blanditiis iusto illum sunt error dolor architecto aperiam, sint atque optio? Deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur laborum quidem nisi dolorum quasi. Commodi tempore hic cum nostrum exercitationem quas odit voluptatibus error illum velit, nulla provident cupiditate culpa?</p>
  </div>
</div>