<%= link_to root_path, class: "box" do %>
  <h1 class="title is-size-4 is-size-5-touch mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, officia.</h1>
  <p class="subtitle is-size-5 is-size-6-touch mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus temporibus qui eveniet impedit atque facere, quod debitis dolor beatae laudantium vitae cupiditate nam corrupti et numquam veniam, consequatur aperiam quos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia laudantium deleniti amet, sequi voluptatibus molestias natus, doloribus libero corrupti nostrum inventore, facilis minima! In explicabo dolorum dolor corporis officia quod.</p>
  <div class="divider mt-0 mb-3">Tags</div>
  <div class="tags mb-3">
    <div class="tag is-rounded is-link">Action</div>
    <div class="tag is-rounded is-link">Horror</div>
    <div class="tag is-rounded is-link">Test</div>
    <div class="tag is-rounded is-link">Ruby</div>
    <div class="tag is-rounded is-link">Rails</div>
    <div class="tag is-rounded is-link">Tecnology</div>
    <div class="tag is-rounded is-link">Youtube</div>
    <div class="tag is-rounded is-link">Back-end</div>
  </div>
  <div class="divider mt-0 mb-3">Info</div>
  <div class="is-size-6 is-size-7-touch has-text-weight-semibold">
    <p class="">Author: Luis Miguel</p>
    <p class="">Created: 7 min ago</p>
    <p class="">Last Edit: 4 min ago</p>
  </div>
<% end %>